body {
    display: flex;
    justify-content: center;
    background-color:darkslategray;
    padding: 120px;
}


.calc {
    box-shadow: 0 1 20px rgba(0, 0, 0, 0.5);
    border: black 2px solid;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.screen {
    display: flex;
    background-color: crimson;
    border: black 2px solid;
    width: 496px;
    height: 100px;
    overflow: auto;
    font-size: 32px;
}

.row {
    display: flex;
    flex: 1;
}
.nbr {
    background-color: lightsalmon;
}

.op {
    background-color: olive;
}

.bb {
    background-color:lawngreen;
}

button {
    flex: 1;
    border: black 2px solid;
    
}

.op {
    font-size: 24px;
}

.nbr {
    font-size: 18px;
}

button:hover {
    background-color: mediumorchid;
}